.container{
	width: 30%;
	height: 10em;
	display:block;
	background-image: url("");
	background-repeat: no-repeat;
    	background-position: 30em 3em;
}

img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 20px;
	color: black;
}

.link {
	text-align: super;
	heigth: 200px;
	width:120px;
	border-radius: 1px;
	border: 5px solid black;
        margin-left:45%
        font-family: Arial;
        background:black;
        display:inline-block;
}

a {
	text-decoration: none;
	color: #E8E8E8;
	font-family: Verdana, sans-serif;
}

span {
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
}
body{ 
cursor: url("http://static.tumblr.com/y3igvfg/6vUm8ca4e/cur838.gif"), default;
}
