.container{
	width: 30%;
	height: 10em;
	display:block;
	background-image: url("");
	background-repeat: no-repeat;
    	background-position: 30em 3em;
}

img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 20px;
	color: black;
}

.link {

border-radius: 6px;
border: 2px solid #FF7F00;
background-color: black;
height: 50px;
width: 130px;
margin: center;
text-align: center;
}


a {
	text-decoration: none;
	color: #E8E8E8;
	font-family: Verdana, sans-serif;
}

span {
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
}
body{ 
cursor: url("http://static.tumblr.com/y3igvfg/6vUm8ca4e/cur838.gif"), default;
}
