
img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 20px;
	color: black;
}

div {
	border-radius: 2px;
	border: 1px solid #EE799F;
	background-color: #FFB5C5;
	height: 50px;
	width: 120px;
	margin: auto;
	text-align: center;
}

a {
	text-decoration: none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
}

span {
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
}
